@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
    background-image: url('./images/bg9.jpg');
}
.container{
    background-color: black;
    background-image: url('./images/blackbg4.jpg');
    
}
.headingtag{
    text-align: end;
    justify-content: end;
    color: white;
    display:inline;
    font-family: 'Satisfy', cursive;
}
.para{
    color:rgb(21, 223, 241);
    text-align: justify;
    /* font-family: 'Bangers', cursive; */
    font-family: 'Cinzel', serif;
    font-size: x-large;
    font-weight: bolder;
}
.mhead{
    color: wheat;
    text-align: center;
    font-family: 'Satisfy', cursive;
}
.image{
    padding: 50px;
    /* width: 100px; */
    height: 50vh;
}
.home a{
    text-decoration: none;
    color: white;
}
.home{
    font-size: x-large;
    text-align: center;
}
.tq{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 100px;
    color: white;
    text-shadow: 4px 5px #2af634;
}
a{
    color:rgb(21, 223, 241);
    /* text-decoration: none; */
    transition: all 0.5s ease-in-out;
}
a:hover{
    transition: all 0.5s ease-in-out;
    margin: 10px;
    padding-top: 20px;
    
}